.mainDiv{
    display: flex;
}

.green{
    width: 100%;
    height: 300px;
    background-color: green;
}

.yellow{
    width: 100%;
    height: 300px;
    background-color: yellow;
}

.purple{
    width: 100%;
    height: 300px;
    background-color: purple;
}

.secondGreen{
    flex: 1;
}

.secondYellow{
    flex: 2;
}

.secondPurple{
    flex: 1;
}


.thirdGreen{
    order: 3;
    flex: 1;
}

.thirdYellow{
    order: 2;
    flex: 2;
}

.thirdPurple{
    order: 1;
    flex: 1;
}

.fourthGreen{
    order: 1;
    flex: 1;
}

.fourthYellow{
    order: 3;
    flex: 2;
}

.fourthPurple{
    order: 2;
    flex: 1;
}

.fourthMain{
    flex-direction: column;
    width: 50%;
    height: 500px;
}